@import url('https://fonts.googleapis.com/css2?family=Alice&family=Anaheim:wght@400..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Khula:wght@300;400;600;700;800&family=Maitree:wght@200;300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

  padding:0;

  scroll-behavior: smooth;

}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.social-icons i{
  
  font-size: 40px;
  
}

.social-icons i{
  
  font-size: 40px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}




nav{
  display:flex;
  justify-content: center;


}

body {
  max-width: 100%;
  background-color: #502bd8;

  overflow-x: hidden;

}





nav ul {
  transition: transform 0.3s ease;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  border-radius: 50px;
  padding: 5px;


}

nav ul li {



  font-style: normal;
  margin: 0 1rem;
}

header nav ul li a {
  color: #171717;
  text-decoration: none;

  font-weight: 500;
  font-style: normal;
  font-size: small;

  transition: transform 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
  transform: scale(1.2);


}

.icones {
  display: flex;
  gap: 30px;
  transition: transform 0.3s ease;
}

.icones img {
  transition: transform 0.3s ease;
  will-change: transform;
}

.icones img:hover {

  transform: scale(1.2);

}

.divProjetos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
 
  
}

#home{
  background-color: #fff;
}

.divProjetos img{
  height: 200px;
}









footer {
  background: #171717;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

p {

  font-weight: 100;
  font-style: normal;
}

h1 {
  margin: 0;
  color: black;

  font-weight: 500;

  font-size: 100px;

}

h1 span{
  color: #502bd8;
}








h2 {
  display: flex;
  justify-content: center;
 font-size: 40px;
  font-weight: 500;
  color: #fff;

}

h3{
  font-weight: 300;
}

.h2Projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.redesSociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 40px;
}

















#home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #171717;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(95, 95, 95, 0.2);

  overflow: hidden;
}

.aboutme{
  height: 100vh;
  background-color: #171717;
}

.projects{
  height: 100vh;
  background-color:#502bd8 ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 100%;
  flex-wrap: wrap;
  

}

.name{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}

.carousel-item {
    font-size: 4rem;
    line-height: 100vh;
    padding: 0 2rem;
    background: #333;
    color: #fff;
    white-space: nowrap;
    flex-shrink: 0;
}


.skills{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;

}




.cardContainer {
  width: 300px;
  height: 450px;
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: .5s;

}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  transition-duration: .5s;
  color: #fff;

  font-weight: 400;
  font-size: 16px;


}

.cardContainer:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: .5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  z-index: 1;
}

.nameDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: aliceblue;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  gap: 2px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.role {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  margin-bottom: 5px;
}

.logo{
  height: 500px;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(14, 14, 14);



}



.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: rgb(14, 14, 14);
}


.imgprojetos{
  height: 300px;
  contain: content;
}

#projeto2{
  width: 300px;

}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }

 button.learn-more {
  width: 12rem;
  height: auto;
 }

 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }

 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }

 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }

 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }

 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }

 button:hover .circle {
  width: 100%;
 }

 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }

 button:hover .button-text {
  color: #fff;
 }



a {
  text-decoration: none;
}

.main__scroll-box{

}


.main__scroll-box img{
  font-size: 10px;
  height: 100px;
}
.main__action:hover .main__scroll-box {
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}


body::-webkit-scrollbar {
  width: 12px; 
  ;         
}




body::-webkit-scrollbar-thumb {
  background-color: #171717; 
  border-radius: 20px;      

}

#aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 gap: 100px;


}

.parteCima{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.parteBaixo ul{
  display: flex;
  list-style-type: none;
  gap: 30px;
  color: #fff;
  font-size: 30px;
}

.parteBaixo ul li p{
  font-size: 15px;
  font-weight: 400;
}

.parteBaixo ul li:hover{
  color: #502bd8;
}

.textoAboutme{
  color: #fff;
    background-color: #502bd8;
    width: 400px;
    padding: 50px;
    border-radius: 3%;
    font-weight: 500;
    opacity: 1; /* Inicialmente oculto */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(50px);

}
.spring{
  margin-left: 20px;
  margin-bottom: 10px;
}
.spring :hover {
  fill: #502bd8;

}

#spring{
  font-size: 14px;
  margin: 0;
  ;
}

#myImg{

  height: 300px;
  border-radius: 50%;
  padding: 10px;
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  flex:2;
}


.parteCima p{
  flex: 1;
}


.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background:#502bd8;
  color: white;
  cursor: pointer;
}

@media screen and (max-width:1280px){

  h1{
    font-size: 80px;
  }
}

@media screen and (max-width:1024px){
  .parteCima{
    flex-direction: column;

  }
  .myImg{
    order: 1;
  }
  h1{
    font-size: 60px;
  }

  .main__scroll-box img{
    height: 50px;
  }
  .logo{
    height: 300px;
  }
  #myImg{
    height: 120px;
    margin: 0;

  }

  .parteCima{

    gap: 20px;
  }
  .parteCima p{
   padding: 10px;
    font-size: 12px;
    order: 2; 


  }

  .parteBaixo{
    margin-bottom: 40px;
  }
  .cardContainer{
    height: 400px;
  }



}


@media screen and (max-width:650px){
.projects{
  display: flex;
  flex-direction: column;
}
}


@media screen and (max-width:540px){
  .icones{
    align-items: center;
    gap: 2px;
   }

   .icones img{
    height: 15px;
   }

   .redesSociais{
    gap: 15px;
   }

   footer p{
    font-size: 10px;
   }
  .projects{
    display: flex;
    flex-direction: column;

  }
  .cardContainer{
    height: 250px;

  }

  .cardContainer img{
    height: 150px;
  }

  #projeto2{
    object-fit: contain;
  }
}



@media screen and (max-width:414px){

  #projeto2{
    object-fit: contain;
  }
  .cardContainer{
    height: 300px;

  }

  .cardContainer img{
    height: 200px;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
  }

  ul li {
    font-size: 20px;
  }
  .spring{
    height: 25px;
  }

  footer p{
font-size: 13px;
  }




}

@media screen and (max-width:390px){
  .parteCima p{
    width: 200px;
    padding: 10px;
     font-size: 8px;
     order: 2; 


   }

   .cardContainer{
    height: 150px;
    margin-bottom: 10px;

  }

  .cardContainer img{
    display: none;

  }

  .profileDiv{
    height: 100px;
    margin-bottom: 50px;
  }



  .projects{
    gap: 40px;
  }



   .parteBaixo ul li{
    font-size: 12px;
   }

   .spring{
    height: 15px;
   }

   button{
    height: 30px;
    width: 100px;
    font-size: 10px;
   }


   .icones{
    align-items: center;
    gap: 2px;
   }

   .icones img{
    height: 15px;
   }

   .redesSociais{
    gap: 15px;
   }

   footer p{
    font-size: 10px;
   }
}




@media screen and (max-width:360px){

  .parteCima p{
    width: 200px;
    padding: 10px;
     font-size: 8px;
     order: 2; 


   }

   .cardContainer{
    height: 150px;
    margin-bottom: 10px;

  }

  .cardContainer img{
    display: none;

  }

  .profileDiv{
    height: 100px;
    margin-bottom: 50px;
  }



  .projects{
    gap: 40px;
  }



   .parteBaixo ul li{
    font-size: 12px;
   }

   .spring{
    height: 15px;
   }

   button{
    height: 30px;
    width: 100px;
    font-size: 10px;
   }


   .icones{
    align-items: center;
    gap: 2px;
   }

   .icones img{
    height: 15px;
   }

   .redesSociais{
    gap: 15px;
   }

   footer p{
    font-size: 10px;
   }
}